<div class="center jumbotron">
  <h1>Welcome to the Cejowisz App</h1>

  <h2>
    This is the home page for the 
    <a href="http://infoaffairs.com/">InfoAffairs</a>
    sample App.
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("INFO.jpg", alt: "Cejo Logo", width: ""), "http://infoaffairs.com" %>





