<footer class="footer">
  <small>
    The <a href="http://infoaffairs.com/">Cejo App</a>
    by <a href="http://infoaffairs.com/">Cejowisz</a> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contacts", contact_path %></li>
       <li><a href="http://infoaffairs.com/">News</a></li>
    </ul>
  </nav>
</footer>